@font-face {
    font-family: KT;
    src: url(fonts/KdamThmorPro-Regular.ttf);
}

@font-face {
    font-family: NF;
    src: url(fonts/NaikaiFont-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color-gradient: rgba(217,167,199,0.6), rgba(255,252,220,0.6);
}

.background {
    padding-top: 100px;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to bottom, var(--bg-color-gradient)), url(../img/background.png);
}

.background .quote {
    width: 50%;
    margin: 0 auto;
    font-size: 50px;
    font-family: NF;
    color: gray;
    padding-left: 20px;
    border-left: 10px solid white;
}