@font-face {
    font-family: "KT";
    src: url(../fonts/KdamThmorPro-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "NK";
    src: url(../fonts/NaikaiFont-Regular.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "KT", "NK", sans-serif;
}

:root{
    --color-background-gradient: rgba(188, 245, 242, 0.3), rgba(202, 255, 177, 0.3);
}

.header {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(var(--color-background-gradient)), url("../img/landscape.png");
    background-size: cover;
    position: relative;
}

nav {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 240px;
    height: 100px;
}

nav ion-icon {
    display: none;
}

.navbar-items {
    text-align: center;
    align-items: center;
    padding: 10px 30px;
    justify-content: space-between;
}

.navbar-items ul li {
    margin: 0 20px;
    padding: 20px 0;
    list-style: none;
    display: inline-block;
    position: relative;
}

.navbar-items ul li::after {
    display: block;
    content: "";
    height: 3px;
    width: 0;
    background: #000;
    left: 0;
    bottom: 5px;
    transition: 0.5s;
    position: absolute;
}

.navbar-items ul li:hover::after {
    width: 100%;
}

.navbar-items ul li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    padding: 10px;
}

.quote {
    width: 100%;
    color: #000;
    text-align: center;
    font-size: 30px;
    transform: translateY(20vh);
}