@font-face {
    font-family: "KT";
    src: url(../../fonts/KdamThmorPro-Regular.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "KT", monospace;
}

:root{
    --color-background: #1e2124;
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--color-background);
    color: #fff;
    overflow-x: hidden;
    background-size: cover;
}