@font-face {
    font-family: "KT";
    src: url(../fonts/KdamThmorPro-Regular.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "KT", monospace;
}

:root{
    --color-hover-blue: #53abff;
    --color-navbar: #282b30;
    --color-background: #1e2124;
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--color-background);
    color: #fff;
    overflow-x: hidden;
    background-size: cover;
}

.navbar {
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 1% 5%;
    display: flex;
    background: var(--color-navbar);
}

.navbar-logo a.logo {
    position: relative;
    align-items: center;
    display: flex;
    text-decoration: none;
}

.navbar-logo a.logo .icon img {
    width: 32px;
    height: 32px;
    margin-top: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.navbar-logo a.logo p.title {
    color: #fff;
    font-weight: 500;
    padding-left: 10px;
    transition: 0.3s;
}

.navbar-logo a.logo p.title:hover {
    color: var(--color-hover-blue);
    transition: 0.3s;
}

.navbar-items ul li {
    margin: 0 20px;
    padding: 10px 0;
    list-style: none;
    display: inline-block;
}

.navbar-items ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    transition: 0.3s;
}

.navbar-items ul li a:hover {
    color: var(--color-hover-blue);
    transition: 0.3s;
}