@font-face {
    font-family: "KT";
    src: url(../fonts/KdamThmorPro-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "SC";
    src: url(../fonts/SourceCodePro-Regular.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "KT", "NK", sans-serif;
}

:root{
    --color-background-gradient: rgba(231, 255, 254, 0.3), rgba(44, 139, 0, 0.3);
    --color-cerulean-blue: #007ba7;
}

.home {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(var(--color-background-gradient)), url("../img/landscape.png");
    background-size: cover;
    position: relative;
}

nav {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 240px;
    height: 100px;
    cursor: pointer;
}

.navbar-items {
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.navbar-items ul li {
    margin: 0 20px;
    padding: 20px 0;
    list-style: none;
    display: inline-block;
    position: relative;
}

.navbar-items ul li::after {
    display: block;
    content: "";
    height: 3px;
    width: 0;
    background: var(--color-cerulean-blue);
    left: 0;
    bottom: 10px;
    transition: 0.5s;
    position: absolute;
}

.navbar-items ul li:hover::after {
    width: 100%;
}

.navbar-items ul li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    padding: 10px;
}

.text {
    width: 100%;
    color: #000;
    text-align: center;
    transform: translateY(20vh);
}

.text p {
    font-size: 60px;
}

.text a {
    font-size: 20px;
    text-decoration: none;
    color: var(--color-cerulean-blue);
    display: inline-block;
    border: 3px solid var(--color-cerulean-blue);
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
}