:root{
    --color-hover-blue: #53abff;
}

.work {
    text-decoration: none;
    text-align: center;
}

.work p.heading {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    transform: translateY(35vh);
}

.work .container{
    transform: translateY(45vh);
}

.work .container .personal-website {
    width: 100%;
    height: 100%;
    align-items: center;
}

.work .container .personal-website a.personal-website{
    text-decoration: none;
    color: #fff;
    font-size: 30px;   
}

.work .container .personal-website a.personal-website .icon img {
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    cursor: pointer;
}

.work .container .personal-website a.personal-website p.text {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.work .container .personal-website a.personal-website p.text:hover {
    text-decoration: underline;
    color: var(--color-hover-blue);
    transition: 0.3s;
}